app/action/*
!app/action/Index.sample.php

app/template/*
!app/template/index.sample.html

app/public/*
!app/public/.htaccess
!app/public/index.sample.php

app/common/*
app/cache/*
app/config/*
!*.gitkeep
